.video-responsive{
	width:100vw;
	height:100vh;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
}
.video-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 input, textarea {
	font-family: 'Press Start 2P', sans-serif;
	background-color: #018aa2;
	outline:none;
	border:0;
	box-shadow:0;
	padding-left:10px;
}
::placeholder {
	color: #ddd;
}

.loveudavid {
  font-size: 8pt;
}