<!DOCTYPE html>
<html style="background-color: #01badb; font-family: 'Press Start 2P', sans-serif;">
	<head>
		<title>Compress-Hension</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/main.css">
        <link rel="icon" href="../static/favicon.ico">
	</head>
	<body style="background-color: #01badb;">
		<div class="container" style="background-color: #01badb;">
		    <div class="row justify-content-center align-items-start mt-5 mb-3">
		        <div class="col-md-9 text-right pt-5">
		        	<h1 style="font-family: 'Press Start 2P', sans-serif; color:#fff">Compress-Hension</h1>
		        </div>
		        <div class="col-md-3 text-left pt-5">
		        	<img style="height:48pt;" src="../static/logo.gif">
		        </div>
		    </div>
		    <div class="row justify-content-center align-items-start mb-5">
		        <div class="col-md-12 text-center">
		        	<small style="font-family: 'Press Start 2P', sans-serif; color:#fff">Turning your lengthy YouTube videos into succinct <u>Compress-Hensions</u>.</small>
		        </div>
		    </div>
		    <div class="row justify-content-center align-items-start my-3 pt-5">
	        	<form class="col-xs-12 text-center" method="POST">
    				<input class="link_input rounded" name="text" placeholder="Enter Video URL...">
				</form>
		    </div>
		    <div class="row justify-content-center align-items-start">
		        <div class="col-xs-12 text-center">
		        	<h1 style="font-family: 'Press Start 2P', sans-serif; color:#fff; font-size:14pt;">Press enter to start!</h1>
		        </div>
		    </div>
		    <div class="navbar fixed-bottom row justify-content-center align-items-start">
		        <div class="col-xs-12 text-center">
		        	<p class = "loveudavid" style="color:#fff; font-family: 'Press Start 2P', sans-serif;">Baked with love by: Helmut Lord, David Gordon, Taleb Hirani, and Melissa Hernandez</p>
					<p class = "loveudavid" style="color:#fff; font-family: 'Press Start 2P', sans-serif;">Using Google NLP, Python, Bootstrap, Flask, and a 55 gallon drum of elbow grease.</p>
		        </div>
		    </div>
		</div>
	</body>
	<footer>
		
	</footer>
</html>