<!DOCTYPE html>
<html>
	<head>
		<title>Compress-Hension</title>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
	</head>
	<body>
		<div class="w-100 vh-100 center bg-washed-green">
			<div class="dtc v-mid tc center black ph3 ph4-l">
				<h1 class="f6 f2-m center f-subheadline-l fw6 tc">Compress-Hension</h1>
				<form method="POST">
		    		<input name="text">
		    		<input type="submit">
				</form>
			</div>
		</div>
	</body>
	<footer>
		<p>Baked with love by: Helmut Lord, David Gordon, Taleb Hirani, and Melissa Guzman</p>
		<p>Using Tachyons, Flask, and a 55-gallon drum of elbow grease ♡</p>
	</footer>
</html>