<!DOCTYPE html>
<html style="background-color: #01badb">
	<head>
		<title>Compress-Hension</title>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/main.css">
	</head>
	<body>
		<div class="center pt7 pr7 pl7">
			<div class="dt dt--fixed center">
				<h1 class="dtc tc pa2 v-mid" style="font-family: 'Press Start 2P', sans-serif; color:#fff">Compress-Hension</h1>
				<img class="dtc tc pl7" style="height:48pt;"src="/static/logo.png">
			</div>
		</div>
		<div class="dt dt--fixed">
			<form class="dtc tc ph4" method="POST">
	    		<input class="input-reset br3 w-40 pv1" style="font-family: 'Press Start 2P', sans-serif; color:#00cef2; background-color: #018aa2; outline:none; border:0; box-shadow:0; padding-left:10px;" name="text">
			</form>
		</div>
		<div>
			<h1 class="tc mb6 pb7" style="font-family: 'Press Start 2P', sans-serif; color:#fff; font-size:14pt;">Press enter to start!</h1>
		</div>
	</body>
	<footer>
		<p>Baked with love by: Helmut Lord, David Gordon, Taleb Hirani, and Melissa Guzman</p>
		<p>Using Tachyons, Flask, and a 55-gallon drum of elbow grease ♡</p>
	</footer>
</html>